@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
header{
	width: 100%;
	background: #4E94AB;
}

.titulo{
	background: #1A7FDD;
	text-align: center;
}

.image{
	text-align: center;
}


.catDiv {
	border-top: 6px solid cadetblue;

}