@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
header{
	width: 100%;
	background: #4E94AB;
}

.titulo{
	background: #1A7FDD;
	text-align: center;
}

.image{
	text-align: center;
}


.catDiv {
	border-top: 6px solid cadetblue;

}


@font-face{
		font-family:'FN';
		src: url(fuentes/Nasa.ttf);
	}

	
#title{
	font:bold 45px 'FN';
	text-shadow:#6A6A6A 3px 3px 5px; /* darle sombra al texto*/
	color: rgba(0,0,0,0.8)
}

#titulo2{
	font:bold 15px 'FN';
}